{% extends "base.html" %}
<!-- head -->
{% block head %}
    <!-- <script src="static/scripts/changeuser.js"></script> -->
{% endblock %}
{% block title %}Switch Users{% endblock %}
<!-- /head -->
<!-- body -->
{% block header %}
{% endblock %}
{% block content %}
    <ul id="UserList">
            {% for item in userlist %}
        <li id="UserListButton"><form method="post"><input type=submit value="{{item}}" name=username ></form></li>
            {% endfor %}
    </ul>
{% endblock %}
<!-- /body -->