<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Home - Home</title>
    <link rel="stylesheet" href="styles/common.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/common.js"></script>
    <script src="scripts/index.js"></script>
</head>
<body onload="pageLoaded()">
    <div class="title">
        <H1>Welcome to your SmartHome</H1>
        <p id="CurrentUser"></p>
    </div>
    <ul id="navbar">
        {% for item in nav %}
            <li><a href="/{{item}}">{{item}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>