<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/common.css')}}" />
    <script src="{{url_for('static', filename='scripts/common.js')}}"></script>
    <title>Login : Smarthome</title>
</head>
<body>
    {%+ if error == 'user_exists' %}
        <h3>That username already exists.</h3>
        <p><a href="{{url_for('newuser')}}">Please select a different username and try again.</a></p>
    {% else %}
        <h3>Invalid Login</h3>
        {%+ if error == 'invalid_user' %}
            <p><a href="{{url_for('login')}}">That user does not exist. Please return to the login page and try again.</a></p>
        {% else %}
            <p><a href="{{url_for('login')}}">The password entered was incorrect. Please return to the login page and try again.</a></p>
        {% endif %}
    {% endif %}
</body>
</html>