<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='/styles/common.css')}}" />
    <script src="{{url_for('static', filename='/scripts/common.js')}}"></script>
    <script src="{{url_for('static', filename='/scripts/login.js')}}"></script>
    <title>Login : Smarthome</title>
</head>
<body>
    <div class="login">
        <h3>Please Log in</h3>
        <form method="post">
            <input type=text name=username placeholder="Username">
            <input type=text name="password" placeholder="Password">
            <input type=submit value=Login>
        </form>
        <a href="{{url_for('newuser')}}"><button class="newUserButton">Create New User</button></a>
    </div>
</body>
</html>