<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/common.css" />
    <script src="../static/scripts/common.js"></script>
    <script src="../static/scripts/new_user.js"></script>
    <title>New User : Smarthome</title>
</head>
<body>
    <div class="new_user">
        <h3>New User Creation</h3>
        <form method="post">
            <input id="user" type=text name=username placeholder="Username">
            <input id="password" type="text" name="password" placeholder="Password">
        </form>
        <button id="submit">Create User</button>
    </div>
</body>
</html>